<h2>Edit Your information below</h2>
<form action="/users/<%= @user.id %>" method="post" >
  <input type="hidden" name="_method" id="hidden" value="patch">
  <h2>Edit Your Information Below:</h2>
  <label>Name: </label>
  <input type="text" name="user[name]" id="user_name" value="<%= @user.name %>"><br>
  <label>Username: </label>
  <input type="text" name="user[username]" id="user_username" value="<%= @user.username %>"><br>
  <input type="submit" name="submit" value="Edit User Info">
  </form>

<br><br><br>

<ul>
  <li><a href="/teams/new"> Create a Team </a></li>
  <li><a href="/users/<%= current_user.id %>"> View Your Teams </a></li>
  <li><a href="/teams"> View All Teams </a></li>
  <li><a href="/logout"> Logout </a></li>
</ul>
