<label>Sign Up Below:</label>
<br></br>
<form method="post" action="/signup">
  <label>Name:</label>
  <input type "text" name="user[name]"  id="user[name]">
  <br></br>
  <label>Enter a Username:</label>
  <input type="text" name="user[username]"  id="user[name]">
  <br></br>
  <label>Create a password to signup:</label>
  <input type="password" name="user[password]"  id="user[password]">
  <br></br>
  <label>Click to Sign up:</label>
  <input type="submit"  value="Sign up">
</form>
