<form action="/teams/<%= @team.id %>" method="post">
  <input type="hidden" name="_method" id="hidden" value="patch">
  <h2>Edit Your Team Below:</h2>
  <label>Team Name:</label>
  <input type="text" name="team[name]" id="team_name" value="<%= @team.name %>">
  <br></br>
  <label>Team Stadium:</label>
  <input type="text" name="team[stadium]" id="team_stadium" value="<%= @team.stadium %>">
  <br></br>
  <label>Team Sponsor:</label>
  <input type="text" name="team[sponsor]" id="team_sponsor" value="<%= @team.sponsor %>">
  <br></br>
  <input type="submit" name="submit" value="Update Team Info">
</form>
<br><br><br>
<ul>
<li><a href="/teams"> View All Teams </a></li>
<li><a href="/logout">Click to Log Out</a></li>
<li><a href="/user/<%current_user.id %>"> View Your Teams</a><li>
</ul>
