<h2>Create A New Team Below</h2>
<form action="/teams" method="post">
  <h2> Enter Your Team Information Below:</h2>
  <label>Team Name:</label>
  <input type="text" name="team[name]" id="team[name]"><br>
  <label>Team Stadium:</label>
  <input type="text" name="team[stadium]" id="team[stadium]"><br>
  <label>Team Sponsor</label>
  <input type="text" name="team[sponsor]" id="team[sponsor]"><br>
  <input type="submit" name="submit" value="Add Team">
</form>
<br></br>

<a href="/logout">Click to Log Out</a>
