<h1>Welcome to World Soccer Teams Website! Where you can add teams that you own to your profile after you sign and proudly show them to other members.<h1>
  <br></br>
  <h2>Please signup or log in to access World Soccer Team's homepage</h2>
  <br></br>
  <h3>Click the link below to SignUp</h3>
  <a href="/signup">Sign Up</a>
  <br></br>
  <h3>Click the link below to Log In</h3>
  <a href="/login">Log In</a>
